*{
  box-sizing: border-box;
}



.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.app{
  display: flex;
}

.invisible{
  display: none;
}

h1{
  color: black;
  -webkit-text-stroke: 2px white; /* width and color */
}
canvas, .player, .example{
  width: 940px;
  height: 650px;
}

canvas{
  /* background-color: red; */
  position: absolute;
}


.player{
  justify-content: center;
  border-radius: 20px;
}

canvas.photo{
  display: none;
}

.wedcam-video{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 5px;
}

button{
  background-color: beige;
  border-radius: 20px;
  font-size: 24px;
}

.webcam-video{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  canvas, .player, .example{
    width:705px;
    height:487.5px;
  }
}

@media only screen and (max-width: 705px){

  .webcam-video{
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 500px) {
  canvas, .player, .example{
    height:313.33333px;
    width:216.66667px;
  }

  .webcam-video{
    flex-direction: column-reverse;
  }
}